.header__nav{
    display: flex;
    justify-content: space-around;
}

.imageLogo{
    max-width: 250px;
}

.header__list{
    width: 80%;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header__sesion{
    border: 1px solid orangered;
    width: 400px;
}

.container__login{
    width: 800px;
    background-color: rgba(73, 79, 83, 0.637);
    margin: 100px auto;
}

.section__image{
    text-align: center;
}